<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>DFS</title>
    </head>
    
    <body>
    
        <h2>Welcome! Please log in!</h2>
        
        <form action=login method="POST">
            <label for="fname">Login:</label><br>
            <input type="text" id="login" name="login"><br>
            <label for="lname">Password:</label><br>
            <input type="text" id="password" name="password" style="-webkit-text-security: disc;"><br><br>
            <input type="submit" value="Log in">
        </form> 
    
    </body>

</html>